*{
    margin: 0px;
    padding: 0px;
}
/* Header sec */
.menu-container{
    background-color: rgb(100, 100, 100);
    padding: 20px;
    color: aliceblue;
    list-style:none ;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menus{
    display: flex;

    
}
.menus>li{
    margin-right: 10px;
    padding-right: 5px;
    font-size: 18px;
    cursor: pointer;
}
.menus>li:hover{
    color: rgb(0, 0, 0);
}

.logo{
    width:auto;
}
/* main section for banner */
.banner-text{
    color:white;
}
.banner-photo{
    width: 400px;
    
}

.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/double-bubble-dark.png),
    linear-gradient(45deg,rgb(193, 23, 23),rgb(255, 7, 7));

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
}
.title{
    font-size: 55px;
    font-weight: bold
}
.description{
    font-size:20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    /* border-radius: 5px; */
}
.btn:hover{
    background-color: aquamarine;

}

/* about section */

.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: row-reverse; */
    padding: 10px;


}

.about-title{
    text-align: center;
    padding-top:20px ;
}

.about-photo{
    width: 400px;
}
.about-text> h1{
    margin: 10px;
    
}
.about-text> p{
    margin: 10px;
    
}
.about-text> .btn{
    margin: 10px;
    
}

