/* Practice css */

*{
    margin: 0px;
    padding: 0px;
}

h1{
    color: red;
}
.test{
    color: blueviolet;
    cursor: pointer;
}

.box{
    padding: 20px;
    background-color: yellowgreen;
    width: 110px;
}
.box2{
    background-color: red;
}
.box3{
    background-color: yellow;
}